.wrapper {
    width: 1170px;
    position: absolute;
    top: 35%;
}
.slider {
    padding-top: 46%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    &-title {
        font-family: var(--Poppin-font);
        font-size: 63px;
        line-height: 80px;
        letter-spacing: -0.005em;
        text-align: left;
        width: 40%;
    }
}
